@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="col-md-4">

</div>

<div class="col-md-4" style="margin-top:50px">
    <h1 class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> 403: @ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</div>

